<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><!-- TITLE --></title>
        <meta name="description" content="<!-- DESCRIPTION -->" />
        <link rel="preconnect" async href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            async
            href="https://fonts.gstatic.com"
            crossorigin
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" async href="/reset.css" />
        <link rel="stylesheet" async href="/icon.css" />
        <link rel="stylesheet" async href="/style.css" />
    </head>
    <body>
        <div class="masthead">
            <div class="masthead__inner">
                <div class="masthead__grow masthead__left">
                    <button
                        class="drawer-opener icon-menu"
                        aria-label="메뉴 보기"
                    ></button>
                </div>
                <div class="masthead__center"><!-- TITLE --></div>
                <div class="masthead__grow masthead__right">
                    <button
                        class="toc-opener icon-bookmark_outline"
                        aria-label="목차 보기"
                    ></button>
                </div>
            </div>
        </div>
        <nav class="global-navigation">
            <!-- NAVIGATION -->
        </nav>
        <main>
            <article class="article">
                <!-- CONTENT -->
            </article>
            <!-- TOC -->
        </main>
        <div class="closer"></div>
        <script defer src="/app.js"></script>
    </body>
</html>
