<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><!-- TITLE --></title>
        <meta name="description" content="<!-- DESCRIPTION -->" />
        <meta name="author" content="<!-- AUTHOR -->" />
        <meta name="robots" content="index,follow" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="<!-- SITENAME -->" />
        <meta property="og:title" content="<!-- TITLE -->" />
        <meta property="og:description" content="<!-- DESCRIPTION -->" />
        <meta name="twitter:title" content="<!-- TITLE -->" />
        <meta name="twitter:description" content="<!-- DESCRIPTION -->" />
        <link rel="preconnect" async href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            async
            href="https://fonts.gstatic.com"
            crossorigin
        />
        <link
            async
            href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@0;1&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" async href="/css/reset.css" />
        <link rel="stylesheet" async href="/css/icon.css" />
        <link rel="stylesheet" async href="/css/style.css" />
        <style>
            @font-face {
                font-family: icon;
                src: url("/icon/icon.woff?zg8y3j") format("woff"),
                    url("/icon/icon.svg?zg8y3j#icon") format("svg");
                font-weight: 400;
                font-style: normal;
                font-display: block;
            }
        </style>
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
    </head>
    <body>
        <nav class="global-navigation">
            <div class="global-navigation__content">
                <!-- NAVIGATION -->
            </div>
        </nav>
        <main>
            <article class="article">
                <!-- CONTENT -->
            </article>
            <!-- TOC -->
        </main>
        <button class="drawer-opener icon-menu" aria-label="메뉴 보기"></button>
        <button
            class="toc-opener icon-bookmark_outline"
            aria-label="목차 보기"
        ></button>
        <button class="closer"></button>
        <script
            defer
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"
        ></script>
        <script defer src="/js/app.js"></script>
    </body>
</html>
