@font-face {
    font-family: "icon";
    src: url("./icon/icon.woff?3xa9g4") format("woff"),
        url("./icon/icon.svg?3xa9g4#icon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
    content: "\e900";
}
.icon-clear:before {
    content: "\e901";
}
.icon-content_copy:before {
    content: "\e902";
}
.icon-link:before {
    content: "\e903";
}
.icon-mode_comment:before {
    content: "\e904";
}
.icon-moon:before {
    content: "\e905";
}
.icon-sun:before {
    content: "\e906";
}
.icon-arrow_back:before {
    content: "\e907";
}
.icon-arrow_forward:before {
    content: "\e908";
}
.icon-check:before {
    content: "\e909";
}
.icon-menu:before {
    content: "\e90a";
}
.icon-bookmark:before {
    content: "\e90b";
}
.icon-bookmark_outline:before {
    content: "\e90c";
}
.icon-favorite:before {
    content: "\e90d";
}
.icon-favorite_outline:before {
    content: "\e90e";
}
.icon-launch:before {
    content: "\e90f";
}
.icon-search:before {
    content: "\e910";
}
.icon-segment:before {
    content: "\e911";
}
